

.logo{
  height: 30px;
  width: 100px;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}


.estrutura-caixa-card{
    height: 300px;
    width: 310px;
    border: 1px  solid black; 
}

.direction{
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
}

.categorias{
    display: flex;
    flex-direction: row;
   gap: 10px;
   justify-content: center;
}